upstream gunicorn {
  # fail_timeout=0 means we always retry an upstream even if it failed
  # to return a good HTTP response

  # for a TCP configuration
  server 127.0.0.1:8000 fail_timeout=0;
}

server {
  listen 80;
  listen [::]:80;
  server_name {{nginx_domains}};
  return 301 https://iguana-project.me$request_uri;
}

server {
  listen 443 ssl;
  listen [::]:443 ssl;
  server_name {{host}};
  return 301 https://iguana-project.me$request_uri;

  ssl_certificate /etc/letsencrypt/live/{{host}}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{host}}/privkey.pem;
 }

server {
  listen 443 ssl;
  listen [::]:443 ssl;
  server_name {{nginx_domains}};

  ssl_certificate /etc/letsencrypt/live/{{host}}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{host}}/privkey.pem;

  location /.well-known {
    root /var/www/{{host}}/;
  }

  location /static {
    root /home/iguana/sites/{{host}}/src/common/;
  }

  location /__media__ {
    alias {{src}}/common/;
    internal;
  }

  location / {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    # enable this if and only if you use HTTPS
    proxy_set_header X-Forwarded-Proto https;
    proxy_set_header Host $http_host;
    # we don't want nginx trying to do something clever with
    # redirects, we set the Host: header above already.
    proxy_redirect off;
    proxy_pass http://gunicorn;
  }
}
