/* fixes autocomplete-light display errors */
.select2.select2-container.select2-container--default.select2-container--below {
	width: 100% !important;
}

.select2-container--open:not(.select2) {
	/* fix for scrollbar jumping fix in style.scss */
	margin-left: calc(100vw - 100%);
}

.select2-container--default .select2-selection--multiple {
	padding-top: unset;
	padding-bottom: unset;
	height: auto;
}
